h1 {
    margin: 0 25% 2% 25%;
    background-color: #d0f0c0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}
body {
    background-color: #e1c699;
}
h2 {
    width: auto;
    height: 15%;
    text-align: center;
    background-color: #87CEEB;
    margin: 10% 5%;
    padding: auto auto;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: black;
    display: block;
    margin: 20px auto;
    width: 60%;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: black;
}

#portrait {
    float: right;
    display: block;
    margin: 0 5% 2.5%;
    height: auto;
    width: 30%;
    
}

.header-bar {
    margin-bottom: 10px;
    padding: 10px 5px;
    position: fixed;
    justify-content: center;
    left: 0;
    top: 30%;
    bottom: 30%;
    width: 10%;
    height: 40%;
    background-color: #d0f0c0;
    border-radius: 0 30px 30px 0;
}

.textbox {
    display: inline-block;
    width: 75%;
    padding: 5% 5% 0 15%;
}

.section {
    background-color: #E6E6FA;
    border-radius: 40px;
    display: inline-block;
    width: 85%;
    margin: 0% 2.5% 1.5% 12.5%;
    padding: 20px 10px;
}
.section-title {
    width: 50%;
    margin: auto;
    padding: 20px;
    display: inline-block;
}
.section-text {
    width: 40%;
    top: 0;
    height: auto;
    margin: auto 5%;
    display: inline-block;
}
.section-image {
    width: 30%;
    max-height: 20%;
    background-position: center center;
    margin-left: auto;
    right: 0;
    display: inline-block;
    overflow: hidden;
}
.section-image-pair {
    width: 30%;
    height: 20%;
    background-position: center center;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: inline;
    overflow: hidden;
}

.topic {
    width: 33%;
    display: inline-block;
}
.skill {
    text-align: center
}

.logo-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center
}
.logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px
}
.pdfembed {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 50%;
}

p {
    color: black;
    font-size: 24px;
}

.textbox {
    margin-bottom: 20px;
    width: 30%;
    display: inline-block;
}
.container {
    max-width: 800px;
    margin: auto;
}

#style-button {
    font-size: 20px;
    margin: 2% 5% 2% 88%;
}

#star-image {
    height: 25px;
}